.inline-block {
  display: inline-block;
}

a {
  display: flex;
  flex: 1 0 0%;
  flex-direction: column;
  max-width: 320px;
  min-width: 320px;
  min-height: 486.6px;
  max-height: 486.6px;
}

.card {
  margin: 15px !important;
}
