<div class="card">
    <div class="card-header">
        <h2>Gestion des adresses</h2>
    </div>
    <div class="card-body">
        <button *ngIf="showBackButton" (click)="back()" class="btn btn-secondary">Retour à la page précédente</button>
        <jhi-alert></jhi-alert>
        <div class="card-deck">
            <jhi-address-card *ngFor="let a of addresses;let i = index" [counter]="i" [address]="a"></jhi-address-card>
            <a role="button" (click)="newAddr()">
                <div class="card">
                    <div class="card-header">
                        <h3><span jhiTranslate="addresses-view.new">New address</span></h3>
                    </div>
                    <div class="card-body">
                        <span jhiTranslate="addresses-view.new_long">New address</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
