<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-address-ecom-heading" jhiTranslate="projetEcomApp.address.home.createOrEditLabel">Create or edit a Address</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetEcomApp.address.addressComplete" for="field_addressComplete">Address Complete</label>
                    <input type="text" class="form-control" name="addressComplete" id="field_addressComplete"
                           formControlName="addressComplete"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetEcomApp.address.receiveName" for="field_receiveName">Receive Name</label>
                    <input type="text" class="form-control" name="receiveName" id="field_receiveName"
                           formControlName="receiveName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetEcomApp.address.receiveTel" for="field_receiveTel">Receive Tel</label>
                    <input type="text" class="form-control" name="receiveTel" id="field_receiveTel"
                           formControlName="receiveTel"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetEcomApp.address.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userInfoOption.id" *ngFor="let userInfoOption of userinfos; trackBy: trackUserInfoById">{{userInfoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
