<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="address">
            <h2><span jhiTranslate="projetEcomApp.address.detail.title">Address</span> {{address.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetEcomApp.address.addressComplete">Address Complete</span></dt>
                <dd>
                    <span>{{address.addressComplete}}</span>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.address.receiveName">Receive Name</span></dt>
                <dd>
                    <span>{{address.receiveName}}</span>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.address.receiveTel">Receive Tel</span></dt>
                <dd>
                    <span>{{address.receiveTel}}</span>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.address.user">User</span></dt>
                <dd>
                    <div *ngIf="address.userId">
                        <a [routerLink]="['/user-info-ecom', address.userId, 'view']">{{address.userId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/address-ecom', address.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
