<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="command">
            <h2><span jhiTranslate="projetEcomApp.command.detail.title">Command</span> {{command.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetEcomApp.command.status">Status</span></dt>
                <dd>
                    <span>{{command.status}}</span>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.command.user">User</span></dt>
                <dd>
                    <div *ngIf="command.userId">
                        <a [routerLink]="['/user-info-ecom', command.userId, 'view']">{{command.userId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.command.address">Address</span></dt>
                <dd>
                    <div *ngIf="command.addressId">
                        <a [routerLink]="['/address-ecom', command.addressId, 'view']">{{command.addressId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/command-ecom', command.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
