<div class="card">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
    <div class="card-header">
        <h3><span jhiTranslate="addresses-view.form.address">Address</span> {{counter}}</h3>
    </div>
    <div class="card-body">
        <div>
            <div class="form-group" [hidden]="!editForm.get('id').value">
                <input type="text" class="form-control" id="id" name="id" formControlName="id" hidden/>
            </div>
            <div class="form-group inline-block">
                <label class="form-control-label" jhiTranslate="addresses-view.form.name" for="field_receiveName">Receive Name</label>
                <input type="text" class="form-control" name="receiveName" id="field_receiveName"
                        formControlName="receiveName"/>
            </div>
            <div class="form-group inline-block">
                <label class="form-control-label inline-block" jhiTranslate="addresses-view.form.phone" for="field_receiveTel">Receive Tel</label>
                <input type="text" class="form-control" name="receiveTel" id="field_receiveTel"
                        formControlName="receiveTel"/>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="addresses-view.form.full-address" for="field_addressComplete">Address Complete</label>
                <textarea type="text" class="form-control" name="addressComplete" id="field_addressComplete"
                        formControlName="addressComplete"></textarea>
            </div>
            <div class="form-group">
                    <select class="form-control" id="field_user" name="user" formControlName="userId" hidden>
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userInfoOption.id" *ngFor="let userInfoOption of userinfos; trackBy: trackUserInfoById">{{userInfoOption.id}}</option>
                    </select>
                </div>
        </div>
        <div>
            <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
    </div>
    </form>
</div>