<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="wishList">
            <h2><span jhiTranslate="projetEcomApp.wishList.detail.title">Wish List</span> {{wishList.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetEcomApp.wishList.user">User</span></dt>
                <dd>
                    <div *ngIf="wishList.userId">
                        <a [routerLink]="['/user-info-ecom', wishList.userId, 'view']">{{wishList.userId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.wishList.product">Product</span></dt>
                <dd>
                    <span *ngFor="let product of wishList.products; let last = last">
                        <a [routerLink]="['/product-ecom', product?.id, 'view' ]">{{product.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/wish-list-ecom', wishList.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
