<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-user-info-ecom-heading" jhiTranslate="projetEcomApp.userInfo.home.createOrEditLabel">Create or edit a User Info</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetEcomApp.userInfo.userStatus" for="field_userStatus">User Status</label>
                    <input type="text" class="form-control" name="userStatus" id="field_userStatus"
                           formControlName="userStatus"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetEcomApp.userInfo.tel" for="field_tel">Tel</label>
                    <input type="text" class="form-control" name="tel" id="field_tel"
                           formControlName="tel"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetEcomApp.userInfo.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetEcomApp.userInfo.passwordQ" for="field_passwordQ">Password Q</label>
                    <input type="text" class="form-control" name="passwordQ" id="field_passwordQ"
                           formControlName="passwordQ"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetEcomApp.userInfo.passwordA" for="field_passwordA">Password A</label>
                    <input type="text" class="form-control" name="passwordA" id="field_passwordA"
                           formControlName="passwordA"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetEcomApp.userInfo.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
