<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userInfo">
            <h2><span jhiTranslate="projetEcomApp.userInfo.detail.title">User Info</span> {{userInfo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetEcomApp.userInfo.userStatus">User Status</span></dt>
                <dd>
                    <span>{{userInfo.userStatus}}</span>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.userInfo.tel">Tel</span></dt>
                <dd>
                    <span>{{userInfo.tel}}</span>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.userInfo.email">Email</span></dt>
                <dd>
                    <span>{{userInfo.email}}</span>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.userInfo.passwordQ">Password Q</span></dt>
                <dd>
                    <span>{{userInfo.passwordQ}}</span>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.userInfo.passwordA">Password A</span></dt>
                <dd>
                    <span>{{userInfo.passwordA}}</span>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.userInfo.user">User</span></dt>
                <dd>
                    {{userInfo.userId}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-info-ecom', userInfo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
