<div class="row justify-content-center">
        <div class="col-11">
            <div *ngIf="product">
                <h2>{{product.proName}}</h2>
                <hr>
                <jhi-alert-error></jhi-alert-error>
    
                <div class="d-md-flex flex-md-equal w-100">
                    <div class="text-center text-white overflow-hidden col-4">
                        <dd>
                            <img [src]="product.picture" onerror="this.onerror=null;this.src='../../content/images/pc_classique.png';" alt="" width="100%" />
                        </dd>
                    </div>
                    <div class="bg-light font-size-infos overflow-hidden col-5"> 
                        <dt><span jhiTranslate="projetEcomApp.product.description"></span></dt>
                        <dd>
                            <span>{{product.description}}</span>
                        </dd>
                        <table>
                            <tr>
                                <td><span jhiTranslate="projetEcomApp.product.cpu"></span></td>
                                <td>
                                    <div *ngIf="cpu; else noCpu">
                                        {{cpu.name}} ({{cpu.frequency}} GHz)
                                    </div>
                                    <ng-template #noCpu>
                                        <span jhiTranslate="projetEcomApp.product.noCpu"></span>
                                    </ng-template>
                                </td>
                            </tr>
                            <tr>
                                <td><span jhiTranslate="projetEcomApp.product.brand"></span></td>
                                <td>
                                    <div *ngIf="brand; else noBrand">
                                        {{brand.brandName}}
                                    </div>
                                    <ng-template #noBrand>
                                        <span jhiTranslate="projetEcomApp.product.noBrand"></span>
                                    </ng-template>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="text-top text-center overflow-hidden col-3">
                        <div class="font-size-price">
                            <span>{{product.proPrice}} €</span>
                        </div>
                        <div *ngIf="product.stock > 0; else notInStock">
                            <button type="submit"
                                (click)="addToShopCart()"
                                class="btn btn-info">
                                <fa-icon [icon]="'shopping-cart'"></fa-icon>&nbsp;<span jhiTranslate="projetEcomApp.product.shopcart"> Ajouter au panier</span>
                            </button>
                            <div class="color-checked ">
                                <dt><span jhiTranslate="projetEcomApp.product.inStock"></span></dt>
                            </div>
                        </div>
                        <ng-template #notInStock>
                            <div class="color-unchecked ">
                                <dt><span jhiTranslate="projetEcomApp.product.noStock"></span></dt>
                            </div>
                        </ng-template>
                    </div>
                </div>
                    <button type="submit"
                        (click)="previousState()"
                        class="btn btn-info">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                    </button>
                </div>
          </div>
      </div>
      