.text-center {
    display: inline-block;
    text-align: center;
}

.text-top {
    vertical-align: text-top;
}

.font-size-price {
    font-size: 300%;
}

.color-checked {
    color: green;
}

.color-unchecked {
    color: red;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }