<div class="container">
    <h1 jhiTranslate="commandes.title" class="inline-block font-weight-bold">Votre panier</h1>
    <div class="table-responsive-sm">
        {{commands | json}}
            <div *ngFor="let command of commands;let i = index" class="card">
                <div class="card-header">
                    <h3 class="inprep" *ngIf="command?.status===0" jhiTranslate="commandes.states.inprep">En preparation</h3>
                    <h3 class="shipped" *ngIf="command?.status===1" jhiTranslate="commandes.states.shipped">Livré</h3>
                    <h3 class="canceled" *ngIf="command?.status===2" jhiTranslate="commandes.states.canceled">Canceled</h3>
                    <h3 class="shipping" *ngIf="command?.status===3" jhiTranslate="commandes.states.shipping">En cours de livraison</h3>
                </div>
                <div class="table-responsive-sm">
                        <table class="table table-striped" aria-describedby="page-heading">
                            <tbody>
                            <tr *ngFor="let product of command.content;let j = index" class="d-flex">
                                <td class="w-10">
                                    <h3>{{product.quantity}}</h3>
                                </td>
                                <td class="w-10">
                                    <img [src]="product.product.picture" onerror="this.onerror=null;this.src='../../content/images/pc_classique.png';" alt="" width="128" height="128"/>
                                </td>
                                <td class="w-50">
                                    <h3><b><a [routerLink]="['/product-details', product.product.id, 'view']">{{product.product.proName}}</a></b></h3>
                                </td>
                                <td class="w-25 text-right">
                                    <h3>{{product.product.proPrice | number}}€</h3>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table" aria-describedby="page-heading">
                            <tbody>
                                <tr>
                                    <td class="w-60">
                                        <h3 class="font-weight-bold">Total:</h3>
                                    </td>
                                    <td class="w-25 text-right">
                                        <h3>{{getTotal(i) | number}}€</h3>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
    </div>
    <div class="table-responsive-sm" *ngIf="commands?.length == 0">
        <p jhiTranslate="commandes.empty">empty</p>
    </div>
</div>

