<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="harddrive">
            <h2><span jhiTranslate="projetEcomApp.harddrive.detail.title">Harddrive</span> {{harddrive.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetEcomApp.harddrive.size">Size</span></dt>
                <dd>
                    <span>{{harddrive.size}}</span>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.harddrive.product">Product</span></dt>
                <dd>
                    <span *ngFor="let product of harddrive.products; let last = last">
                        <a [routerLink]="['/product-ecom', product?.id, 'view' ]">{{product.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/harddrive-ecom', harddrive.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
