<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cpu">
            <h2><span jhiTranslate="projetEcomApp.cpu.detail.title">Cpu</span> {{cpu.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetEcomApp.cpu.name">Name</span></dt>
                <dd>
                    <span>{{cpu.name}}</span>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.cpu.frequency">Frequency</span></dt>
                <dd>
                    <span>{{cpu.frequency}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cpu-ecom', cpu.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
