<div class="filter table-responsive-sm card mb-4 box-shadow">
    <div class="col-sm-12">
        <!---<form name="searchForm" class="form-inline">
            <div class="input-group w-100 mt-3">
                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'projetEcomApp.product.home.search' | translate }}">
                <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                    <fa-icon [icon]="'search'"></fa-icon>
                </button>
                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                    <fa-icon [icon]="'trash-alt'"></fa-icon>
                </button>
            </div>
        </form>-->
    </div>
    <div class="card-header">
        <h3>Filtres</h3>
    </div>
    <div class="card-body">
        <table aria-describedby="page-heading" style="width: 100%;">
        <tbody>
            <tr>
                <td class="left-side">
                    <span class="inline-block" jhiTranslate="catalogue-view.price-range">Price range </span>
                </td>
                <td class="right-side">
                    <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (userChange)="onUserChange($event)"></ng5-slider>
                </td>
            </tr>
            <!--
            <tr>
                <td class="left-side">
                    <span class="inline-block" jhiTranslate="catalogue-view.cpu">CPU</span>
                </td>
                <td class="right-side">
                    <select class="form-control" name="cpu">
                        <option *ngFor="let cpu of cpus" [value]="cpu.id">{{cpu.name}}</option>
                    </select>
                </td>
            </tr>
            -->
        </tbody>
        </table>
    </div>
</div>
<div class="container">
    <div class="table-responsive-sm" *ngIf="products?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <tbody>
            <tr *ngFor="let product of products ;trackBy: trackId" class="d-flex">
                <td class="w-10">
                    <img [src]="product.picture" onerror="this.onerror=null;this.src='../../content/images/pc_classique.png';" alt="" width="128" height="128"/>
                </td>
                <td class="w-60">
                    <h3><b><a [routerLink]="['/product-details', product.id, 'view']">{{product.proName}}</a></b></h3>
                    <span>{{product.description}}</span>
                </td>
                <td class="w-25 text-right">
                    <h3>{{product.proPrice | number}}€</h3>
                </td>

            </tr>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>
    <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
    </div>
</div>
