.inline-block {
  display: inline-block;
}

.ng5-slider {
  margin: 18px;
  vertical-align: bottom;
}

.right {
  float: right;
}

.filter {
  margin: 30px;
}

.left-side {
  width: 25%;
}

.right-side {
  width: 95%;
}
