<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shopCart">
            <h2><span jhiTranslate="projetEcomApp.shopCart.detail.title">Shop Cart</span> {{shopCart.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetEcomApp.shopCart.quantity">Quantity</span></dt>
                <dd>
                    <span>{{shopCart.quantity}}</span>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.shopCart.addTime">Add Time</span></dt>
                <dd>
                    <span>{{shopCart.addTime}}</span>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.shopCart.user">User</span></dt>
                <dd>
                    <div *ngIf="shopCart.userId">
                        <a [routerLink]="['/user-info-ecom', shopCart.userId, 'view']">{{shopCart.userId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.shopCart.product">Product</span></dt>
                <dd>
                    <div *ngIf="shopCart.productId">
                        <a [routerLink]="['/product-ecom', shopCart.productId, 'view']">{{shopCart.productId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shop-cart-ecom', shopCart.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
