<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetEcomApp.shopCart.home.title">Shop Carts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shop-cart-ecom" [routerLink]="['/shop-cart-ecom/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="projetEcomApp.shopCart.home.createLabel">
            Create a new Shop Cart
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'projetEcomApp.shopCart.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="shopCarts?.length === 0">
        <span jhiTranslate="projetEcomApp.shopCart.home.notFound">No shopCarts found</span>
    </div>
    <div class="table-responsive" *ngIf="shopCarts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantity"><span jhiTranslate="projetEcomApp.shopCart.quantity">Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="addTime"><span jhiTranslate="projetEcomApp.shopCart.addTime">Add Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userId"><span jhiTranslate="projetEcomApp.shopCart.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productId"><span jhiTranslate="projetEcomApp.shopCart.product">Product</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shopCart of shopCarts ;trackBy: trackId">
                <td><a [routerLink]="['/shop-cart-ecom', shopCart.id, 'view' ]">{{shopCart.id}}</a></td>
                <td>{{shopCart.quantity}}</td>
                <td>{{shopCart.addTime | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="shopCart.userId">
                        <a [routerLink]="['/user-info-ecom', shopCart.userId , 'view' ]" >{{shopCart.userId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="shopCart.productId">
                        <a [routerLink]="['/product-ecom', shopCart.productId , 'view' ]" >{{shopCart.productId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/shop-cart-ecom', shopCart.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/shop-cart-ecom', shopCart.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/shop-cart-ecom', { outlets: { popup: shopCart.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="shopCarts?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
