<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span jhiTranslate="projetEcomApp.product.detail.title">Product</span> {{product.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetEcomApp.product.proName">Pro Name</span></dt>
                <dd>
                    <span>{{product.proName}}</span>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.product.proPrice">Pro Price</span></dt>
                <dd>
                    <span>{{product.proPrice}}</span>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.product.stock">Stock</span></dt>
                <dd>
                    <span>{{product.stock}}</span>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.product.description">Description</span></dt>
                <dd>
                    <span>{{product.description}}</span>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.product.picture">Picture</span></dt>
                <dd>
                    <span>{{product.picture}}</span>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.product.brand">Brand</span></dt>
                <dd>
                    <div *ngIf="product.brandId">
                        <a [routerLink]="['/brand-ecom', product.brandId, 'view']">{{product.brandId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.product.cpu">Cpu</span></dt>
                <dd>
                    <div *ngIf="product.cpuId">
                        <a [routerLink]="['/cpu-ecom', product.cpuId, 'view']">{{product.cpuId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-ecom', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
