<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetEcomApp.product.home.title">Products</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-ecom" [routerLink]="['/product-ecom/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="projetEcomApp.product.home.createLabel">
            Create a new Product
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'projetEcomApp.product.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="products?.length === 0">
        <span jhiTranslate="projetEcomApp.product.home.notFound">No products found</span>
    </div>
    <div class="table-responsive" *ngIf="products?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="proName"><span jhiTranslate="projetEcomApp.product.proName">Pro Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="proPrice"><span jhiTranslate="projetEcomApp.product.proPrice">Pro Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stock"><span jhiTranslate="projetEcomApp.product.stock">Stock</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="projetEcomApp.product.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="picture"><span jhiTranslate="projetEcomApp.product.picture">Picture</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="brandId"><span jhiTranslate="projetEcomApp.product.brand">Brand</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cpuId"><span jhiTranslate="projetEcomApp.product.cpu">Cpu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products ;trackBy: trackId">
                <td><a [routerLink]="['/product-ecom', product.id, 'view' ]">{{product.id}}</a></td>
                <td>{{product.proName}}</td>
                <td>{{product.proPrice}}</td>
                <td>{{product.stock}}</td>
                <td>{{product.description}}</td>
                <td>{{product.picture}}</td>
                <td>
                    <div *ngIf="product.brandId">
                        <a [routerLink]="['/brand-ecom', product.brandId , 'view' ]" >{{product.brandId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="product.cpuId">
                        <a [routerLink]="['/cpu-ecom', product.cpuId , 'view' ]" >{{product.cpuId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/product-ecom', product.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-ecom', product.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-ecom', { outlets: { popup: product.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="products?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
