<div class="container">
    <h1 jhiTranslate="shopcart.title" class="inline-block font-weight-bold">Votre panier</h1>
    <button [routerLink]="['/checkout']" *ngIf="products?.length > 0" jhiTranslate="shopcart.proceed" class="btn btn-primary btn-lg right" type="submit">Procéder au paiement</button>
    <div class="table-responsive-sm" *ngIf="products?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <tbody>
            <tr *ngFor="let product of products;let i = index" class="d-flex">
                <td class="w-10">
                    <h3>{{product.quantity}}</h3>
                </td>
                <td class="w-10">
                    <img [src]="product.product.picture" onerror="this.onerror=null;this.src='../../content/images/pc_classique.png';" alt="" width="128" height="128"/>
                </td>
                <td class="w-50">
                    <h3><b><a [routerLink]="['/product-details', product.product.id, 'view']">{{product.product.proName}}</a></b></h3>
                </td>
                <td class="w-25 text-right">
                    <h3>{{product.product.proPrice | number}}€</h3>
                </td>
                <td>
                    <button type="submit"
                        (click)="delete(i)"
                        class="btn btn-danger">
                        <span>X</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="table" aria-describedby="page-heading">
            <tbody>
                <tr>
                    <td class="w-60">
                        <h3 class="font-weight-bold">Total:</h3>
                    </td>
                    <td class="w-25 text-right">
                        <h3>{{getTotal() | number}}€</h3>
                    </td>
                </tr>
            </tbody>
        </table>
        <button [routerLink]="['/checkout']" jhiTranslate="shopcart.proceed" class="btn btn-primary btn-lg btn-block" type="submit">Procéder au paiement</button>
    </div>
    <div class="table-responsive-sm" *ngIf="products?.length == 0">
        <p jhiTranslate="shopcart.emptycart">Votre panier est vide</p>
    </div>
</div>
