<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commandProduct">
            <h2><span jhiTranslate="projetEcomApp.commandProduct.detail.title">Command Product</span> {{commandProduct.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetEcomApp.commandProduct.quantity">Quantity</span></dt>
                <dd>
                    <span>{{commandProduct.quantity}}</span>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.commandProduct.addTime">Add Time</span></dt>
                <dd>
                    <span>{{commandProduct.addTime}}</span>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.commandProduct.product">Product</span></dt>
                <dd>
                    <div *ngIf="commandProduct.productId">
                        <a [routerLink]="['/product-ecom', commandProduct.productId, 'view']">{{commandProduct.productId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projetEcomApp.commandProduct.command">Command</span></dt>
                <dd>
                    <div *ngIf="commandProduct.commandId">
                        <a [routerLink]="['/command-ecom', commandProduct.commandId, 'view']">{{commandProduct.commandId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/command-product-ecom', commandProduct.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
