<div class="container col-md-6">
    <div class="card-deck" *ngIf="!aPaye; else paiement_fait">
    <div class="card">
        <div class="card-header">
            <h4 jhiTranslate="projetEcomApp.paiement.title">Paiement du panier</h4>
        </div>
        <div class="card-body">
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" class="needs-validation">
                <div class="form-group row">
                    <div class="col-md-10 mb-10">
                        <label for="field_address">Address</label>
                        <div>
                            <select class="inline-block" id="field_address" name="address" formControlName="addressId">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="i" *ngFor="let address of addresses; let i = index">{{address.addressComplete}}</option>
                            </select>
                            <button [routerLink]="['/addresses']" class="btn btn-secondary" jhiTranslate="settings.form.addr">Gestion des adresses</button><br/><br/> 
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4 mb-3">
                        <label for="field_cardNumber" jhiTranslate="projetEcomApp.paiement.number" >Numéro de carte</label>
                        <input type="text" class="form-control"  name="cardNumber" id="field_cardNumber"
                                formControlName="cardNumber" pattern="\d*" maxlength="16" minlength="16" required/>
                    </div> 
                    <div class="col-md-3 mb-3">
                        <label jhiTranslate="projetEcomApp.paiement.date">Date de fin de validité</label>
                        <div>
                            <select id="month" name="month" ng-model="month">
                            <option [ngValue]="null" jhiTranslate="projetEcomApp.paiement.dateFormatM"></option>
                            <option *ngFor="let month of months" value="{{month.Id}}" >{{month.Name}}</option>
                        </select>
                        <select id="year" name="year" ng-model="year">
                            <option [ngValue]="null" jhiTranslate="projetEcomApp.paiement.dateFormatY" ></option>
                            <option *ngFor="let year of years" value="{{year.Id}}" >{{year.Name}}</option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    
                    <div class="col-md-3 mb-3">
                        <label for="field_cryptogram" jhiTranslate="projetEcomApp.paiement.cryptogram" >Cryptogramme Visuel</label>
                        <input type="text" class="form-control" name="cryptogram" id="field_cryptogram"
                                formControlName="cryptogram" pattern="\d*" maxlength="3" minlength="3" required/>
                    </div>
                </div>
                <div class="center">
                    <button type="submit"
                                (click)="previousState()"
                                class="btn btn-info">
                            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                    </button>
                    <button type="submit" id="save-entity" [disabled]="editForm.invalid" class="btn btn-primary">
                        <span jhiTranslate="projetEcomApp.paiement.pay">Payer</span>
                        <!--TODO: save, invalid-->
                    </button>
                </div>
            </form>
        </div>
    </div>
    </div>
    <ng-template #paiement_fait>
        <span jhiTranslate="projetEcomApp.paiement.thanks">Merci :D</span>
        <br />
        <br />
        <button [routerLink]="['/']" class="btn btn-secondary" jhiTranslate="projetEcomApp.paiement.back">Retour</button>
    </ng-template>
</div>
