.dropdown {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.inline-block {
  display: inline-block;
}

.center {
  text-align: center;
}

.row {
  margin: auto;
}
